{% extends 'base.html' %}
{%block content%}
<div class="wrap selfclear">
	<div class="twocol">
	  <div class="block">
		<h2>About</h2>
		<p>MajiData is an initiative of the Kenyan Water Sector. The mandate to prepare MajiData was given to the Water Services Trust
		Fund (WSTF) by its parent ministry: the Ministry of Water and Irrigation (MWI). MajiData was funded by UN-Habitat, the German
		Development Bank (KfW), Google.org, GIZ and the WSTF.</p>
	  </div>
	  <div id="data_block" class="block">
		<h2>Explore Maji Data</h2>
		<p>This section lets you search, discover, and visualise statistical data collected in the MajiData initiative.</p>
		<div class="selfclear">
		  <a href="/visualize">Explore Data</a>
		</div>
	  </div>
</div>

{%endblock%}
